[Desktop Entry]
Type=Application
Version=1.0
Name=Love Case
Exec=lovecase
Comment=Detective Jack is on a case - to find love.
Icon=lovecase
Terminal=false
Categories=Game;ArcadeGame;
